a {
    text-decoration: none;
    color: #000;
  }
  
  
  .homepageWrapper {
    width: 100%;
    height: 100vh;
  }
  
  .navbar_main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #000;
    z-index: 999;
    animation: navbarBottom 1s forwards;
  }
  
  .navbar_text {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 32px;
  }
  
  .navbar_links {
    margin-right: 5%;
  }
  
  .navbar_links a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding: 5px;
  }
  
  .navbar_links a:last-child {
    margin-right: 0;
  }
  
  .navbar_links a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #ecf000;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  
  .navbar_links a:hover::before {
    width: 100%;
    left: 0;
  }
  
  .navbar_logo {
    margin-left: 5%;
  }

/* reset */
* {margin: 0; padding: 0; box-sizing:border-box;}
a {text-decoration: none;}
li {list-style: none;}
img {display: block; width: 100%;}
body {
height: 100vh;
}


/*slide*/
.slide_wrap {
    width: 55%;
    position: relative;
}
.slide_show {
width: 500px; height: 500px; overflow: hidden;
position: absolute;
left: 0; top: 0; right: 0; bottom: 0; margin: auto;
}
.slide_show .slide_list {
position: relative;
overflow:hidden; width: 10000px; height: 1200px;
}
.slide_show .slide_list > div {
float: left; width: 500px; padding: 5px; height: 500px;
box-sizing: content-box; position: relative;
}
.slide_show .slide_list > div:before {
position: absolute; left: 10px; top: 10px; color: #fff;
font-family: 'RIDIBatang';
}

.slide_show .slide_list > .slide img {
    width: 100%; 
    
}

.slide_btn {
width: 85%;
position: absolute; 
top: 50%;
left: 50.2%; 
transform: translate(-50%,-50.2%);
}
.slide_btn button {
cursor: pointer;
}


#wrap{
    width: 1720px;
    height: 950px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    overflow: hidden;
}

#main_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
#main_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.prev, .next{
    font-size: 30px;
    position: absolute;
    background: 0;
    border: 0;
}

.prev{
    left: 0;
}

.prev:active{
    left: 2px;
    font-size: 35px;
}

.next{
    right: 0;
}

.next:active{
    right: 2px;
    font-size: 35px;
}
/*

.cir{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: .3s ease-in-out;
}

.cir:nth-child(1):hover{
    background-color: black;

}
.cir:nth-child(2):hover{
    background-color: black;

}
.cir:nth-child(3):hover{
    background-color: black;

}
.cir:nth-child(4):hover{
    background-color: black;

}
.cir:nth-child(5):hover{
    background-color: black;

}
.cir:nth-child(6):hover{
    background-color: black;

}
*/



#main_text_box{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid black;
    border-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px;
    position: relative;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    border-top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    height: 445px;
    font-size: 18px;
    padding: 15px;
}
.fff{
    margin-top: 15px;
}

.dddd{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.text span{
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    
}

.text p {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
    /* margin-top: 10px; */
    font-size: 16px;
}

.line{
    width: 98%;
    height: 1px;
    border: 1px solid black;
    position: absolute;
    left: 1%;
    bottom: 0;
}
